* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* html {
  overflow-y: hidden;
} */
body {
  background: black;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  overflow-x: hidden;
}
/* body > * {
  border: solid red 1px;
} */
header {
  color: hsl(0, 0%, 100%);
  font-family: 'Dancing Script', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  z-index: 2;
}
header .container {
  display: flex;
  align-items: center;
  width: 80%;
  height: 80%;
}
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 1.8em;
  text-shadow: black 2px 0 5px, black -2px 0 5px, black 0 2px 5px, black 0 -2px 5px;
}
nav {
  width: auto;
  height: 10vmin;
  display: flex;
  margin-left: auto;
}
header img {
  width: auto;
  height: 100%;
  filter: drop-shadow(1px 0 1px black) drop-shadow(-1px 0 1px black) drop-shadow(0 1px 1px black) drop-shadow(0 -1px 1px black);
}
#slideBar {
  width: 100%;
  height: 80vmin;
  display: flex;
  justify-content: center;
  z-index: 1;
}
#labels input {
  position: absolute;
  display: none;
}
#slide {
  width: 100vmin;
  height: 80vmin;
  position: relative;
}
#slide img {
  width: 100%;
  height: 100%;
}
#labels {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
}
#slide label {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: red;
  border-radius: 50%;
  margin-left: 1vmin;
  margin-right: 1vmin;
  cursor: pointer;
}
#slide label::before {
  content: "";
  width: 10px;
  height: 10px;
  position: relative;
  display: block;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
input:first-of-type:checked ~ label:first-of-type::before,
input:nth-of-type(2):checked ~ label:nth-of-type(2)::before,
input:nth-of-type(3):checked ~ label:nth-of-type(3)::before,
input:nth-of-type(4):checked ~ label:nth-of-type(4)::before,
input:nth-of-type(5):checked ~ label:nth-of-type(5)::before,
input:nth-of-type(6):checked ~ label:nth-of-type(6)::before,
input:nth-of-type(7):checked ~ label:nth-of-type(7)::before,
input:nth-of-type(8):checked ~ label:nth-of-type(8)::before {
  background: gray;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsla(0, 0%, 44%, 0.5);
  padding-bottom: 3vmin;
  z-index: 2;
}
footer .container {
  padding-top: 4vmin;
  display: flex;
  width: 80%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.socialNetworks {
  margin-bottom: 4vmin;
  display: flex;
  justify-content: center;
}
.socialNetworks div {
  margin-left: 1vmin;
  margin-right: 1vmin;
  width: 8vmin;
  height: 8vmin;
}
.socialNetworks div img {
  width: 100%;
  height: 100%;
}
.adress {
  font-size: 0.9em;
  text-align: center;
  line-height: 1.5;
}
.btnDiv {
  margin-top: 4vmin;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.btnDiv input {
  font-size: 1.2em;
  border-radius: 5px;
  border: none;
  outline: none;
}
#author {
  margin-top: 4vmin;
}
#author a {
  text-decoration: none;
  color: white;
}
footer * {
  border: solid red 1px;
}
.laptopContainer {
  display: none;
}
@media screen and (orientation: portrait) {
  html,
  body {
    width: 100vw;
    height: 100vh;
  }
  header {
    flex-grow: 0.5;
  }
  footer {
    flex-grow: 1.5;
    padding-bottom: 2vmin !important;
  }
  #labels {
    bottom: 5vmin !important;
  }
}
@media screen and (orientation: landscape) {
  #slideBar {
    width: 100vw;
    height: 100vh;
  }
  #slide {
    width: 100%;
    height: 100%;
  }
  #labels {
    bottom: 5vmin;
  }
}
@media screen and (orientation: landscape) and (min-width: 700px) and (max-width: 1000px) {
  body {
    display: grid;
    grid-template-rows: 12vh 88vh;
  }
  header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #slideBar {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    height: 100%;
  }
  #slide {
    width: 100%;
    height: 100%;
  }
  footer {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .btnDiv {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background: hsl(0, 0%, 22%);
    padding-top: 2vmin;
    padding-bottom: 2vmin;
  }
  .btnDiv input {
    padding: 1vmin 2vmin 1vmin 2vmin;
    width: 90%;
  }
}
@media screen and (orientation: landscape) and (min-width: 1000px) {
  body {
    display: grid;
    grid-template-rows: 12vh auto auto;
    width: 100%;
    height: 100vh;
  }
  header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  #slideBar {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  footer {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background: hsla(0, 0%, 44%, 0.9);
  }
  footer .container {
    display: none;
  }
  .laptopContainer {
    display: flex;
  }
}
