.size(@width, @height) {
  width: @width;
  height: @height;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  .size(50vmin, 50vmin);
}

#tabs {
  .size(90vmin, auto);
}

#tabs, #tabs * {
  border: solid red 1px;
}

#control {
  .size(100%, 12%);
}

#text {
  padding: 0 2vmin 2vmin 2vmin;
  position: relative;
}

#contacts {
  position: absolute;
  transform-origin: center top;
  transform: scaleY(0.1);
  transition-duration: 2s;
}

button {
  .size(9vmin, 5vmin);
  cursor: pointer;
}

#tabs:hover #contacts {
  transform: scale(1);
}

h2 {
  margin-top: 2vmin;
  margin-bottom: 2vmin;
}