.size(@width, @height) {
  width: @width;
  height: @height;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: black;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

body > * {
  border: solid red 1px;
}

header {
  .size(100%, auto);
  color: white;
  font-family: 'Dancing Script', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
}

.container {
  display: flex;
  .size(80%, 80%);
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 1.5em;
}

nav {
  .size(auto, 100%);
  display: flex;
  margin-left: auto;
}

img {
  .size(auto, 100%);
}

#slideBar {
  .size(100%, 100vh);
}

footer {
  .size(100%, 5vh);
}